[alias]
  smold = !"git diff --staged | grep '\\-Subproject commit' | sed 's/\\-Subproject commit //' | tr -d '\\n' | pbcopy && echo \"Copied `pbpaste`\""
  smup = !"git submodule foreach 'git fetch && git checkout master && git mup'"
