[submodule "pack/buildgroundwork/start/vim-rails"]
  path = pack/buildgroundwork/start/vim-rails
  url = https://github.com/tpope/vim-rails.git
[submodule "pack/buildgroundwork/start/vim-haml"]
  path = pack/buildgroundwork/start/vim-haml
  url = https://github.com/tpope/vim-haml.git
[submodule "pack/buildgroundwork/start/vim-endwise"]
  path = pack/buildgroundwork/start/vim-endwise
  url = https://github.com/tpope/vim-endwise.git
[submodule "pack/buildgroundwork/start/vim-surround"]
  path = pack/buildgroundwork/start/vim-surround
  url = https://github.com/tpope/vim-surround.git
[submodule "pack/buildgroundwork/start/vim-repeat"]
  path = pack/buildgroundwork/start/vim-repeat
  url = https://github.com/tpope/vim-repeat.git
[submodule "pack/buildgroundwork/start/nerdtree"]
  path = pack/buildgroundwork/start/nerdtree
  url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/buildgroundwork/start/nerdcommenter"]
  path = pack/buildgroundwork/start/nerdcommenter
  url = https://github.com/scrooloose/nerdcommenter.git
[submodule "pack/buildgroundwork/start/vim-abolish"]
  path = pack/buildgroundwork/start/vim-abolish
  url = https://github.com/tpope/vim-abolish.git
[submodule "pack/buildgroundwork/start/vim-javascript"]
  path = pack/buildgroundwork/start/vim-javascript
  url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/buildgroundwork/opt/vim-colors-solarized"]
  path = pack/buildgroundwork/opt/vim-colors-solarized
  url = https://github.com/altercation/vim-colors-solarized.git
[submodule "pack/buildgroundwork/start/vim-fugitive"]
  path = pack/buildgroundwork/start/vim-fugitive
  url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/buildgroundwork/start/vim-textobj-rubyblock"]
  path = pack/buildgroundwork/start/vim-textobj-rubyblock
  url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "pack/buildgroundwork/start/vim-textobj-user"]
  path = pack/buildgroundwork/start/vim-textobj-user
  url = https://github.com/kana/vim-textobj-user.git
[submodule "pack/buildgroundwork/start/vim-unimpaired"]
  path = pack/buildgroundwork/start/vim-unimpaired
  url = https://github.com/tpope/vim-unimpaired.git
[submodule "pack/buildgroundwork/start/vim-ruby"]
  path = pack/buildgroundwork/start/vim-ruby
  url = https://github.com/vim-ruby/vim-ruby.git
[submodule "pack/buildgroundwork/opt/vim-colors-tomorrow"]
  path = pack/buildgroundwork/opt/vim-colors-tomorrow
  url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "pack/buildgroundwork/start/j-split"]
  path = pack/buildgroundwork/start/j-split
  url = https://github.com/mgamba/j-split.git
[submodule "pack/buildgroundwork/start/vim-blockle"]
  path = pack/buildgroundwork/start/vim-blockle
  url = https://github.com/jgdavey/vim-blockle.git
[submodule "pack/buildgroundwork/start/vim-gitgutter"]
  path = pack/buildgroundwork/start/vim-gitgutter
  url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/buildgroundwork/start/vim-rake"]
  path = pack/buildgroundwork/start/vim-rake
  url = https://github.com/tpope/vim-rake.git
[submodule "pack/buildgroundwork/start/vim-side-search"]
  path = pack/buildgroundwork/start/vim-side-search
  url = https://github.com/ddrscott/vim-side-search.git
[submodule "pack/buildgroundwork/start/undotree"]
  path = pack/buildgroundwork/start/undotree
  url = https://github.com/mbbill/undotree.git
[submodule "pack/buildgroundwork/start/vim-ripgrep"]
  path = pack/buildgroundwork/start/vim-ripgrep
  url = https://github.com/jremmen/vim-ripgrep.git
[submodule "pack/buildgroundwork/start/fzf.vim"]
  path = pack/buildgroundwork/start/fzf.vim
  url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/buildgroundwork/start/vim-bundler"]
  path = pack/buildgroundwork/start/vim-bundler
  url = https://github.com/tpope/vim-bundler.git
[submodule "pack/buildgroundwork/start/ale"]
  path = pack/buildgroundwork/start/ale
  url = https://github.com/dense-analysis/ale.git
[submodule "pack/buildgroundwork/start/vim-jsx-pretty"]
  path = pack/buildgroundwork/start/vim-jsx-pretty
  url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "pack/buildgroundwork/start/regreplop"]
  path = pack/buildgroundwork/start/regreplop
  url = https://github.com/vim-scripts/regreplop.vim.git
[submodule "pack/buildgroundwork/opt/molokai"]
  path = pack/buildgroundwork/opt/molokai
  url = https://github.com/tomasr/molokai.git
[submodule "pack/buildgroundwork/start/vim-dispatch"]
  path = pack/buildgroundwork/start/vim-dispatch
  url = https://github.com/tpope/vim-dispatch.git
[submodule "pack/buildgroundwork/start/vim-test"]
  path = pack/buildgroundwork/start/vim-test
  url = https://github.com/janko/vim-test.git
[submodule "pack/buildgroundwork/start/ultisnips"]
  path = pack/buildgroundwork/start/ultisnips
  url = https://github.com/SirVer/ultisnips.git
[submodule "pack/buildgroundwork/start/vim-tmux-focus-events"]
  path = pack/buildgroundwork/start/vim-tmux-focus-events
  url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule "pack/buildgroundwork/start/vim-json"]
  path = pack/buildgroundwork/start/vim-json
  url = https://github.com/elzr/vim-json.git
[submodule "pack/buildgroundwork/start/vitality.vim"]
  path = pack/buildgroundwork/start/vitality.vim
  url = https://github.com/sjl/vitality.vim.git
[submodule "pack/buildgroundwork/start/vim-js-arrow-function"]
	path = pack/buildgroundwork/start/vim-js-arrow-function
	url = https://github.com/mvolkmann/vim-js-arrow-function.git
[submodule "pack/buildgroundwork/start/csv.vim"]
	path = pack/buildgroundwork/start/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule "pack/buildgroundwork/start/vim-rbenv"]
	path = pack/buildgroundwork/start/vim-rbenv
	url = https://github.com/tpope/vim-rbenv.git
